body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.demos-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 10%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 22px 0;
}

.demos-content-padded {
  padding: 8px;
}

.demos-second-title {
  text-align: center;
  font-size: 20px;
  color: #3cc51f;
  font-weight: 200;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}
